html {
    font-family: 'Inter', sans-serif;
    padding: 60px 25% 300px 25%;
    background-color: #daeee0;
  }


  figcaption {
    color: gray;
    font-style: italic;
    font-size: 14px;
  }
  
  hr {
    background-color: gray;
  }
  
  h3 {
    font-size: 14px;
    font-weight: 200;
    font-style: italic;
  }
  
  #figure {
    border-style: solid;
    border-color: rgb(225, 225, 225);
    border-width: 2px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 15px #CCCCCC;
  }
  
  #row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  code {
    font-size: 14px;
    color: #076700;
    background-color: #f2ffee;
    border-radius: 3px;
    padding: 0px 4px 0px 4px;
  }

  p {
    font-size: 14px;
    line-height: 140%;
  }